<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<p style="color: #500050; font-weight: bold" th:text="'Kính gửi: Quý khách ' + ${name} + ','"></p>
<p style="color: #500050";>Quán pizza Sister xin trân trọng thông báo hóa đơn mua hàng của Quý khách như sau:</p>
<p>Bò bít tết giá 100.000 VND</p>
<p>Mỳ cay giá 100.000 VND</p>
<p>Trà sữa trân châu đường đen giá 100.000 VND</p>
<b>Tổng tiền 300.000 VND</b>
<p style="color: #500050";>Trân trọng cảm ơn Quý khách đã mua hàng tại pizza Sister</p>
<br>
<br>
<b>Print hóa đơn:</b>
<center>
    <img src='http://13.213.11.72:8888/file/download?fileId=accff336-58d2-4f0c-a2d5-5a4fb82197a6' style='width:25%;height:50%;text-align: center;'/>
</center>
</body>
</html>